[2018-06-07 11:45] JPustkuchen opened #1 "Composer issue?"
Using version ^1.1 for acquia/drupal-spec-tool
./composer.json has been updated
Gathering patches for root package.
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - acquia/drupal-spec-tool v1.1 requires traviscarden/behat-table-comparison ^0.2.1 -> satis

[2018-06-08 21:21] fbray commented on #1
I had this same issue today when trying to use the Spec Tool with Acquia Lightening distro.

Steps to reproduce:
1. `composer create-project acquia/lightning-project lightning_project`
1. `composer require acquia/drupal-spec-tool`

Output:
[code]

After running a `composer depends sebastian/diff` within the Lightening distribution project, the following is returned:

[code]
Running the same comman

[2018-06-12 23:54] fbray opened #2 "Missing Core Field Type"
The Field Types column on the hidden Settings sheet of your [Google Sheet](https://docs.google.com/spreadsheets/d/1G2LnWLVcZczxjp2SQt7XNjMvdNonmcgjx7RhFm2nhMw/edit?usp=sharing) is missing the core "Telephone number" field.  The corresponding form field widget, however, is available.

[2018-06-20 14:28] AccessPhil opened #3 "Whitespace causing field comparison issue"
Hi!
I'm liking this tool so far, just had a little problem that I managed to fix.

# Problem
In a new project I was working on I couldn't get the tests for "Then exactly the following fields should exist" to pass. The problem manifested itself in Behat telling me that a field was both present and missing from the specification. Here is the output I was receiving.

      TravisCarden\BehatTableComp

[2018-06-27 14:16] agentrickard opened #5 "Add Image Style, Queue, and Display Mode mappings"
I was comparing this tool to our older Palantir build spec. There are a few items there that I'd like to add here:

* Image styles, which are fairly critical to all builds
* Display modes and field settings for bundles
* Queues (entity, node) as needed

Our original is at https://docs.google.com/spreadsheets/d/15htLLWLguhwiuTLg_nndQNpgWVdUMy6UaR_d1q-v6iw/edit?usp=sharing.

What's the best way to c

[2018-07-02 17:31] TravisCarden commented on #1
Thanks for the report! I'll look into this.

[2018-07-02 17:50] TravisCarden commented on #2
Thanks, @fbray! The omission has been corrected. You can, of course, add the missing value to your own copy of the sheet.

[2018-07-02 17:50] #2 closed

[2018-07-02 18:37] TravisCarden commented on #3
Thanks for the report, @AccessPhil. I'm glad you're liking the tool. 😃 l'm reluctant to modify any values taken from the field config. I'm not sure that's actually where your problem is. Does the field description have that whitespace in the database? Looking at the output you received, I would expect to find 63 spaces, a newline character, and 82 more spaces. Your specification contains 146 space

[2018-07-02 23:04] fbray opened #6 "Overview Formulas Missing in Google Sheet"
Thanks again for all your work @TravisCarden!  I've discovered that the formula for the Views and Views Displays rows on the protected Overview sheet are missing.  I've corrected my local values, but thought it might be helpful to update the source for others.  The values *should* be as below, if my understanding of the sheet is correct.

Thanks!

D11:   `=COUNTIF(Views!D2:D, "=x")`
E11:   `=COUNT

[2018-07-03 01:11] TravisCarden commented on #6
Ah, thank you, @fbray! The fix has been applied. I appreciate your contributions. :)

[2018-07-03 01:11] #6 closed

[2018-07-03 07:55] AccessPhil commented on #3
Hi Travis,
I did originally start writing out my investigations. However, that lead me to the inevitable conclusion that the config we had for that field contained some whitespace at the end.

Here is the offending line in our config for the field above.
[code]

Correcting that sorted out the problem. I guess a fresh pair of eyes was all that was needed to figure our what was really going on.
Sorr

[2018-07-03 07:55] #3 closed

[2018-07-03 15:00] TravisCarden commented on #3
Glad you figured it out, @AccessPhil. Please don't consider it a waste of my time. I'm happy I could help. :)

[2018-07-03 16:57] TravisCarden commented on #5
Hi, @agentrickard. I'd love to see some of those added to the tool. I think the best way to contribute them would be to provide a document with sheets (tabs) I can either copy out or recreate. My first requirement for all data is that it be denormalized. So "Image styles", for example, would need to become two sheets: "Image styles" and "Image style effects", similar to "Views" and "Views displays

[2018-07-03 18:10] TravisCarden commented on #1
Okay, I believe the problem is fixed now. I was able to follow the steps in https://github.com/acquia/drupal-spec-tool/issues/1#issuecomment-395893807 without producing the error. I'm closing the issue. Please re-open if the problem persists for you. (By the way, I'm sorry it took me so long to respond here. I didn't realize I wasn't watching the repo and so wasn't getting email notifications.)

[2018-07-03 18:10] #1 closed

[2018-07-10 21:52] TravisCarden commented on #5
@agentrickard, I've added image styles to [my upstream document](https://docs.google.com/spreadsheets/d/1GDNEzJe_rWdM3oG_kbBEH8r11Pcy4a1xJ1oglVBsZRE/edit?usp=sharing) for future release. Please take a look and share any feedback you have. If you'd like to try the corresponding Behat step definitions, check out the `develop` branch.

[2018-07-11 14:06] agentrickard commented on #5
I can't test the Behat stuff, but the sheet looks great.

[2018-07-11 19:50] TravisCarden opened #7 "Request for feedback"
Now that this project has been in the wild for a bit I'd love to hear people's thoughts on it. What works well? What needs improvement? All thought welcome. Thanks!

[2018-07-12 19:41] TravisCarden commented on #7
Thanks for the helpful feedback, @danepowell! It does seem like further explanation of how to use the tool from a project workflow standpoint is an acute need. I've added your questions to my notes for documentation. On the subject of your pretty-pretty-please wish, now that we're generating Behat tests, scripting actual creation doesn't seem like a terribly great leap, does it? I've made a quarte

[2018-07-16 21:16] TravisCarden opened #8 "Adopt SemVer"
This project is adopting [Semantic Versioning (SemVer)](https://semver.org/) for `v2.0.0`.

[2018-07-16 21:16] #8 closed

[2018-07-16 21:28] TravisCarden opened #9 "Rename BaseContext to ContextBase"
`\Acquia\DrupalSpecTool\Context\BaseContext` has been renamed to `\Acquia\DrupalSpecTool\Context\ContextBase` in `v2.0.0` in keeping with Drupal Core's naming convention for base classes. If you were sub-classing it, you will need to update your `use` or `extends` statement.

[2018-07-16 21:28] #9 closed, assigned to nobody

[2018-07-16 21:42] TravisCarden opened #10 "Multiple bundles with the same label break ERD generation"
If you give two bundles the same label it will confuse the queries and break the auto-generated entity relationship diagram (ERD), even if they're of different content entity types (e.g., a content type and a vocabulary). It's probably best from a UX perspective not to name multiple things identically. Nevertheless, this can probably be fixed by using machine names as aliases in the PlantUML.

[2018-07-17 13:50] TravisCarden opened #11 "Large specifications can break Behat test generation"
A large enough data set can break the Behat test generation due to character length limits in Google Sheets. ("Text result of JOIN is longer than the limit of 50000 characters.") This could be fixed by refactoring the test generation--perhaps by writing a [custom function](https://developers.google.com/apps-script/guides/sheets/functions). It could also be sidestepped by using CSV files instead of

[2018-07-17 14:17] TravisCarden opened #12 "Workflow diagram generation doesn't support multiple workflows"
The PlantUML workflow diagram generation feature hasn't been updated to support multiple, discrete workflows. If multiple are specified, it will create a single diagram containing _all_ specified states and transitions together.

[2018-07-17 14:25] TravisCarden opened #13 "Add Workflow Behat integration"
Behat integration has been added for Workflow specifications. A "Workflows" tab was added to support specification of multiple, discrete workflows, and the "Workflow states" and "Workflow transitions" tabs were updated. See the "Behat" tab for the new feature, and add the new context to your [Behat configuration](http://behat.org/en/latest/user_guide/configuration.html) to make use of it, e.g.:

[

[2018-07-17 14:25] #13 closed

[2018-07-17 17:59] TravisCarden opened #14 "Field relationships don't support referencing multiple bundles"
You can't currently pick more than one value for the "Ref. bundle" field (target bundle for reference fields) on the "Fields" tab because Google Sheets validation doesn't support multiple dropdown selections. In the meantime, additional values can be hand typed, separated with commas. It will capture the necessary details for implementers, but the cell will get flagged as having an error, and it w

[2018-07-17 18:53] TravisCarden opened #15 "Add Migrations Behat integration"
Add Gherkin generation and corresponding Behat step definitions for migrations. (Migration _mappings_ are too complex to include.)

[2018-07-17 18:58] TravisCarden opened #16 "Add Menus Behat integration"
Behat integration has been added for Menu specification. See the "Behat" tab for the new feature, and add the new context to your [Behat configuration](http://behat.org/en/latest/user_guide/configuration.html) to make use of it, e.g.:

[code]

[2018-07-17 18:59] TravisCarden opened #17 "Add Views Behat integration"
Behat integration has been added for Views specification. See the "Behat" tab for the new feature, and add the new context to your [Behat configuration](http://behat.org/en/latest/user_guide/configuration.html) to make use of it, e.g.:

[code]

[2018-07-17 19:00] #16 closed

[2018-07-17 19:00] #17 closed

[2018-07-17 19:04] TravisCarden opened #18 "Add support for Image styles"
Tabs and Behat integration have been added for Image styles specification. See the "Image styles", "Image effects", and "Behat" tabs for the new feature. Add the new context to your [Behat configuration](http://behat.org/en/latest/user_guide/configuration.html) to make use of it, e.g.:

[code]

[2018-07-17 19:04] #18 closed

[2018-07-27 00:52] danepowell opened #19 "Dragging rows around on Bundle sheet can break queries (v1.1)"
Note that this is a bug report for v1.1. This problem _appears_ to be solved in v2, but I wanted to post an issue in case any other users of v1.1 ran across it.

If you try to reorder rows on the Bundles sheet by dragging them around, this can break the rest of the spreadsheet in unexpected ways.

You can recreate this by simply dragging a row from midway down the bundles sheet up into the first r

[2018-07-27 00:53] danepowell commented on #19
Feel free to go ahead and close this if you are considering the 1.x version to be unmaintained.

[2018-07-27 01:16] danepowell commented on #19
Actually, there's another place where dragging rows breaks things: if you drag rows around on the fields tab, all of the conditional formatting goes haywire.

[2018-07-27 13:42] TravisCarden commented on #19
Thanks, @danepowell. The first problem of broken queries was a known issue in v1.x which has indeed been solved in v2.0.0. Unfortunately, I have no way to get the fix out to users of v1.1. Since there's no update delivery mechanism for Google Sheets, each version does become effectively unmaintainable once released. (If you have thoughts on that problem, I'm all ears!)

As to the conditional forma

[2018-07-27 18:56] danepowell commented on #19
The two major problems were the zebra stripes (aka conditional formatting), and the hidden "type" column. For some reason when you drag rows around, the "type" column becomes populated with literal text values, and this breaks the auto-population function. I've confirmed both of these happen in v2

[2018-08-01 04:32] TravisCarden commented on #19
I may be able to make the zebra stripes code more resilient. I'm not sure the issue with the "Type" column is surmountable, though. I wonder if the column is worth the trouble. What do you think, @danepowell?

[2018-08-01 20:25] TravisCarden opened #20 "Add support for users"
Add sheet support and Behat integration for user entity type and fields specification.

[2018-08-02 23:00] danepowell commented on #19
I'm actually not sure what that column does, since it's normally hidden right? I'm okay either way, if we decide not to fix it then maybe just document "avoid dragging rows".

[2018-08-03 14:54] TravisCarden commented on #19
The column doesn't actually "do" anything in the sense of contributing to validation, Behat tests, or diagrams. It's purely informational. And it's brittle in more than one way. 🤔 I think I'm going to get rid of it. I'm not willing to make a concession about such a basic behavior as dragging rows unless absolutely unavoidable.

[2018-08-07 22:54] NickWilde1990 opened #21 "Autogenerate machine names in spreadsheet"
I don't like manually typing the machine name in most circumstances. Especially when creating a lot of content types it is boring.
So I've been using this formula: `=LEFT(LOWER(REGEXREPLACE(B#,"W", "_")),32)`
As far as I've been able to determine, there isn't a great method to place that automatically in new rows and still be able to enter a custom value if needed/desired. So I've been using an in

[2018-08-09 13:29] TravisCarden commented on #21
Hi, @NickWilde1990. I love the idea! As long as it doesn't noticeably damage performance, I would absolutely be interested in it. An additional "nice to have" feature would be to regenerate the value if you delete the machine name and unfocus the cell. Thanks so much. I look forward to seeing what you come up with!

[2018-08-12 03:01] NickWilde1990 commented on #21
Hey @TravisCarden,
Continued playing and I don't notice any slow down with my latest. That said, Google drive is always slow on my system (don't have the fastest system and usually have a lot of stuff open).  Haven't done regenerative a deleted machine name, but very easy. I figure start with this and have someone else (or a few) test performance. Autoprefixes fields with field_. I did confirm tha

[2018-08-13 16:25] TravisCarden commented on #21
Thanks, @NickWilde1990! I'll give this a look as soon as I can.

[2018-08-15 00:08] danepowell opened #22 "Fix Behat test indentation"
v2.0 of the spreadsheet outputs Behat tests that are formatted like this:
[code]

This is a little awkward because the bundle definitions aren't indented to the same level as the column headers. This causes problems because some editors will automatically indent them to the same level, while others don't touch the indent, causing noisy git diffs. For greatest compatibility, I think they should all

[2018-08-15 14:50] TravisCarden commented on #21
All right, @NickWilde1990. I've done my testing and gone ahead and integrated it into [the upstream spreadsheet](https://docs.google.com/spreadsheets/d/1GDNEzJe_rWdM3oG_kbBEH8r11Pcy4a1xJ1oglVBsZRE/edit?usp=sharing). Thanks so much for your contribution! :smiley:

[2018-08-15 14:50] #21 closed

[2018-08-15 16:18] TravisCarden commented on #22
Thanks, @danepowell! This has been fixed in [the upstream spreadsheet](https://docs.google.com/spreadsheets/d/1GDNEzJe_rWdM3oG_kbBEH8r11Pcy4a1xJ1oglVBsZRE/edit?usp=sharing) to be included in the next release.

[2018-08-15 16:18] #22 closed

[2018-08-18 00:12] danepowell opened #23 "Create wiki"
The blog post announcing the spec tool is very well written but remains the primary/only form of documentation for the tool, and doesn't lend itself to collaboration. Long-term, I think we should have documentation that lives alongside the tool.

I have taken a first crack at creating a wiki in my personal fork of drupal-spec-tool: https://github.com/danepowell/drupal-spec-tool/wiki

Basically, I

[2018-09-13 13:27] dangur opened #25 "Correct machine name maximum length for workflows, states, and transitions"
Machine names can only be a maximum of 26 characters. Add validation to machine name columns with the custom formula `=LEN($E:$E)<=26`.

[2018-09-13 17:59] TravisCarden commented on #25
Hello, @dangur. The maximum length for all machine names that I know of is, in fact, 32. Machine names for fields created via the UI, however, include a prefix of "field_", which reduces their _available_ length to 26. Is that what you're referring to? If so, be sure to include "field_" in the spreadsheet. Unfortunately, I can't just assume that all field machine names begin that way, because not

[2018-09-13 18:18] dangur commented on #25
I see @TravisCarden , so the formulas would need to be `=LEN($E:$E)<=32` for fields and `=LEN($C:$C)<=32` for bundles, menus, views, image styles, migrations, workflows, and user roles. The formulas for views displays, workflow states, and workflow transitions would be `=LEN($D:$D)<=32`.

[2018-09-15 01:11] ba66e77 commented on #23
I think this wiki looks great. It's clear, approachable, and covers not just the how but the why.

[2018-09-19 20:52] TravisCarden commented on #25
I double checked, @dangur, and it turns out that Workflows, Workflow states, and Workflow transitions machine names (oddly enough) have a maximum length of 64 characters, so I updated those in [the upstream sheet](https://docs.google.com/spreadsheets/d/1GDNEzJe_rWdM3oG_kbBEH8r11Pcy4a1xJ1oglVBsZRE/edit?usp=sharing). Migrations aren't created via the UI, so their IDs don't have an obvious maximum le

[2018-09-19 20:53] #25 closed

[2018-11-27 03:04] danepowell commented on #23
@TravisCarden have you had a chance to review this? If you're short on time and want help copying it over, I'm happy to help if you give me push access.

[2018-11-27 15:15] TravisCarden commented on #23
Hello, @danepowell. I provided some feedback to @ChuChuNaKu in a Google Sheet he shared with me. I've added you to the document and a related email thread. I'll reach out to you privately about getting push access to the repo.

[2018-11-27 15:31] ChuChuNaKu commented on #23
@danepowell @TravisCarden  Sorry about that. I had it on my todo to address the feedback in the shared document. I can help out completing these changes this week.

[2018-11-28 18:30] danepowell commented on #23
The wiki is now live!
https://github.com/acquia/drupal-spec-tool/wiki

@ChuChuNaKu @TravisCarden please review and let me know if I missed anything.

[2018-11-28 18:30] #23 closed

[2018-11-28 20:32] TravisCarden commented on #23
Thanks, @danepowell and @ChuChuNaKu! 😃

[2018-11-28 20:39] ChuChuNaKu commented on #23
Woot!

[2018-12-15 16:48] darkcody commented on #11
Hi @TravisCarden
I ran into this issue and took a stab a resolving it with a custom function. It looks like a string returned from a custom function is still limited to 50000 characters. However, the function can return an array which would be expanded across multiple rows. I'm currently doing this on a separate sheet.

To make it easier to copy and paste, I'm then using the QUERY function to comb

[2018-12-15 17:03] darkcody opened #27 "Export an existing content model from Drupal"
Hey @TravisCarden , I'd like to be able to export an existing spec. My use case: I've inherited an existing codebase and would like to use the drupal spec tool to document future content model changes and generate behat tests, but I don't want to spend the time to manually enter the necessary information into the sheet.

I recently took a stab at such a feature. I'm happy to clean it up and submit

[2018-12-17 16:08] TravisCarden commented on #27
Hello, @darkcody. Nice to see you in my queue! 😃 I'm _definitely_ interested in this functionality but as some sort of CLI command rather than a Behat step. @NickWilde1990 has created something very similar in his [drupal-spec-tool-commands](https://github.com/NickWilde1990/drupal-spec-tool-commands), which update your Behat feature files to the spreadsheet, so there's probably an opportunity here

[2018-12-17 16:43] TravisCarden opened #28 "Create a framework for CLI commands"
Create a framework for CLI commands to do such things as automatically updating the Drupal site to match the specification, updating the specification to match the Drupal site (https://github.com/acquia/drupal-spec-tool/issues/27), or updating Behat feature files to match the specification (https://github.com/acquia/drupal-spec-tool/pull/24).

It should be a Symfony Console application. [acquia/or

[2018-12-17 18:06] NickWilde1990 commented on #27
Definitely, very busy this week, but I'll keep my ears open and am available to talk anytime

[2018-12-17 20:13] darkcody commented on #10
Note: this can also break generated behat tests, since the VLOOKUP for entity type on the "Fields" sheet could be incorrect when bundle labels are duplicated.

@TravisCarden, my current workaround is to update the bundle label from the Queries sheet to include the entity type whenever the bundle label is duplicated. E.g. "Video (Content Type)" and "Video (Media)" when both a media type and content

[2019-01-07 22:32] brayfe opened #29 "Small Google Sheet Edits"
While using this for a recent project, I found two small changes needed to the Google sheet template.

1. On the Settings tab, cell B28 should be "Number (float)" vs "Number (decimal)" which is repeated a second time, to ensure consistency with the Drupal Add Field dropdown.
1. On the Overview tab, hidden cell B3 should read "Custom Block type" to calculate the bundles correctly.

[2019-01-08 03:02] TravisCarden commented on #29
Quite right! Both issues have been fixed in the current and upstream documents. I'll close this issue with a credit commit to the repo to represent your contribution. Thanks, @brayfe! 😃

[2019-01-08 03:02] #29 closed

[2019-02-19 06:03] kducharm commented on #10
@darkcody Thanks for this workaround, just ran into the same issue and seems to work like a charm!

[2019-03-04 12:59] TravisCarden commented on #10
Thank you for this work, @darkcody! I like the idea of disambiguating by putting the content entity type in parentheses. I've decided to adopt that approach unconditionally (i.e., whether or not a bundle name is a "duplicate"). I'm working on implementing the change. Since the change will require non-backward-compatible changes to both the spreadsheet and the Behat contexts, this will require a ma

[2019-03-04 13:51] #10 closed

[2019-03-04 13:56] TravisCarden commented on #10
Okay, @darkcody, the fix has been integrated into [the upstream spreadsheet](https://docs.google.com/spreadsheets/d/1GDNEzJe_rWdM3oG_kbBEH8r11Pcy4a1xJ1oglVBsZRE/edit?usp=sharing) and the corresponding Behat contexts in the `master` branch. It will be included in the 3.x release. Thanks for the help!

[2019-05-08 00:54] jhedstrom opened #31 "Allow either Drupal Behat Extension 3 or 4"
Trying to install BLT to an existing project that utilizes the Drupal Behat Extension 4.0 and running into this requirements error:

[code]

It would be nice to either just require `^4.0` (which is in beta) or to allow both that and `^3.4`. PR to follow.

[2019-05-08 20:24] #31 closed

[2019-06-11 00:24] greggmarshall commented on #14
Would the technique in this solve the multiple select problem (haven't had time to evaluate it)
[https://gist.github.com/arthurattwell/aa5afc178624bdd6f46c2d0d28d06136](https://gist.github.com/arthurattwell/aa5afc178624bdd6f46c2d0d28d06136)

[2019-06-11 14:05] TravisCarden commented on #14
That looks like an interesting possibility, @greggmarshall. It preserves the out-of-the-box interface for the simple use case but supports the complex use case with reasonable added complexity in the UI. I like it. This will be worth looking into, time allowing.

[2019-06-12 18:19] greggmarshall opened #33 "mink-zombie-driver Dependency?"
The mink-zombie-driver dependency in Drupal Spec Tool is causing an issue when I try to install the tool via composer inside a Lando environment (which is supported by ADS).  The Lando PHP doesn't have the sockets extension included and I haven't figured out how to install/enable it (no answer on the Lando issue queue yet either).

Is there a reason for the mink-zombie-driver dependency that isn't

[2019-06-13 13:50] TravisCarden commented on #33
Hello, @greggmarshall. The Drupal Spec Tool doesn't have a direct dependency on `mink-zombie-driver`, nor does a fully built-out dependency graph on a vanilla build contain one:

[code]

You can use the above command to find out what's causing your build to require it.

[2019-06-13 16:43] greggmarshall commented on #33
Very odd, when I removed Drupal Spec Tool from the composer.json and rebuilt the error went away, so I assumed it was a dependency of a dependency, but now when I added it back via composer require I didn't get the error.  I guess I didn't hold my mouth right the first time.

Thanks for the composer why command, I've got a new tool in my box.

[2019-06-13 16:43] #33 closed

[2019-08-07 17:32] mikemadison13 opened #34 "Add Layout Builder Field Type"
Currently we have panelizer as a field type and that is the default for basic pages / landing pages. However, with newer versions of Drupal core and Lightning, we need Layout Builder as a field type instead of just panelizer.

It looks like adding this to the settings tab (good call @TravisCarden ) works fine.

[2019-08-08 15:58] #7 closed

[2019-08-08 15:58] #5 closed

[2019-08-26 12:13] TravisCarden commented on #34
Thanks, @mikemadison13. I've added a "Layout Section" field type and a "Layout Builder Widget" form field widget to the current and upstream spreadsheets.

[2019-08-26 12:13] #34 closed

[2019-09-30 15:57] TravisCarden commented on #28
My thinking has evolved since posting this issue, and I now think that Drush commands in a separate package is probably the way to go here.

[2019-09-30 15:57] #28 closed

[2020-02-07 20:07] AllieRays opened #41 "Add Redirect option as a column"
**Description**
There are content types that never should be displayed with its own page, like an image media entity that's displayed in a carousel. [Rabbit Hole](https://www.drupal.org/project/rabbit_hole) can prevent this node from being accessible on its own page with the following options

- Deliver an access denied page.
- Deliver a page not found page.
- Issue a page redirect to any path or

[2020-02-07 20:41] AllieRays commented on #41
As discussed, I made an issue with the lightning core module to add Rabbit hole into the lighting distro.
https://www.drupal.org/project/lightning_core/issues/3112048

[2020-02-07 20:44] AllieRays opened #42 "Add Config Split Specifications to Drupal Spec tool"
Config split is common on most complex Drupal builds. We should include this in the Drupal Spec tool with automated tests as a separate tab.

[2020-02-07 20:44] AllieRays commented on #42
Please assign to me so I can work on this when you have a chance. Thanks!!

[2020-02-10 13:15] TravisCarden commented on #42
Here you go, @AllieRays. I look forward to seeing what you come up with!

[2020-02-10 16:16] TravisCarden commented on #41
Thanks, @AllieRays. As I said when we discussed it, I support this, and I'll accept it if any of the following criteria are met:

- The module is included in Lightning or Drupal core
- PS makes it an official best practices recommendation
- A significant proportion of the Drupal community adopts the solution

(I should document that standard somewhere.)

Please let me know if you determine that an

[2020-02-10 19:19] TravisCarden commented on #41
I brought it up to the Lightning team, @AllieRays, and they said they'd rather see this functionality go into Drupal core. Here's a d.o issue I created a couple of years ago which has a lot of overlap with which got a flash of attention at the time. I would encourage you to file another issue to include Rabbit hole functionality in core and cross-link those issues. In the meantime, I would love to

[2020-06-23 03:03] TravisCarden opened #43 "Update image styles and effects for Lightning changes"
Lightning added a new "Slick media" image style and corresponding image effect out-of-the-box.

The default Behat features here have been updated accordingly in ad4efacf94bc3c57f4fa6beab06ac6a3b83ff525.

[2020-06-23 03:03] #43 closed

[2020-06-24 15:12] TravisCarden opened #44 "Update for Drupal 9"
Cut a new major version branch (4.x) for D9-compatibility.

[2020-06-24 15:12] #44 closed

[2020-07-28 13:36] vyasamit2007 opened #46 "Automate generation of Drupal Entities from Drupal Spec Tool"
### Description
Drupal spec tool currently generates only test cases, We aim to extend this tool to build Drupal entities using the architecture defined in the DST sheet.

### High-level technical architecture
1. Create a new composer plugin which will provide a command(s).
2. This command will read and collect data from the DST sheet using [Google Sheet APIs](https://developers.google.com/sheets/

[2020-07-30 17:23] TravisCarden commented on #46
Hi, @vyasamit2007. Thanks so much for working on this! It's a feature I've always wanted but never found time to work on. A couple of notes for you:

- The new command(s) should be a Drush command(s). We'll want to use the CLI tool most people are already using, and we'll want to take advantage of its feature set, especially site alias handling. We'll ultimately need to release it as a separate pa

[2020-08-25 20:12] mikemadison13 opened #47 "Add Acquia Site Studio Support to Spec Tool"
Sites that utilize Site Studio have slightly different definitions required for custom Helpers, Components, etc. It would be great if the spec tool supported these options (perhaps under other tabs than the current bundle / field definitions) so that projects using Site Studio / Cohesion can also use the Spec Tool to define these features.

[2020-08-26 20:18] TravisCarden commented on #47
Sounds reasonable, @mikemadison13. Can you you provide concrete details? Maybe a rough example in a Google Sheet?

[2020-08-26 20:18] mikemadison13 commented on #47
yeah, i'm working with @pavlosdan and @aellison to try and come up with some more concrete recommendations! just wanted to get this out there because I have been forgetting to do so for a week or more.

[2020-09-10 15:04] greggmarshall opened #48 "Automatic Import of Existing Drupal Site Architecture into Drupal Spec Tool"
Just as #46 would automatically generate the configuration files for a Drupal Spec Tool spreadsheet, it would be really useful for teams taking over maintenance and/or extension of an existing site to be able to import that site's configuration into DST without having to enter the information manually.

[2020-09-11 15:43] TravisCarden commented on #48
It sure would, @greggmarshall! In fact, there's already an issue for it: #27. Closing this one as a duplicate.

[2020-09-11 15:43] #48 closed

[2020-09-11 16:01] greggmarshall commented on #48
Sorry, didn't notice that issue.

[2020-10-09 20:03] aellison commented on #47
Created an OKR to work on recommendations this quarter.
https://app.betterworks.com/app/#/goal/10100331

[2021-02-26 19:23] greggmarshall commented on #11
What about as a first approximation splitting the bundles and fields into two separate feature files?  That will buy some additional capacity.

[2021-03-01 16:46] TravisCarden commented on #11
@greggmarshall I would be open to a change like that if it could be argued to be the best from a usability or developer experience standpoint. But I wouldn't want to change the way things work and break backward compatibility in any way. I would prefer to take the approach of creating a [custom function](https://developers.google.com/apps-script/guides/sheets/functions) for it... but I would need

[2021-03-09 16:31] greggmarshall commented on #11
Travis

I don't think a custom function will solve the problem after reading @brianreese's comment above, it still has the same 50,000 character limitation the current implementation is running into.

If we split the bundles and fields into two separate feature files, or at least two cells on the behat tab of the spreadsheet, you buy a little (not much additional capacity), but more importantly yo

[2021-03-18 15:23] greggmarshall commented on #11
Here's my Rube Goldberg solution that seems to work (at least I think so)

I changed to hidden cell B8 in the Behat tab to only have the Scenario text
`="  Scenario: Fields
    Then exactly the following fields should exist
"`
And I added some additional instructions to append Column A of a new tab I added called Behat Fields.  In that tab I added the formula
`=ARRAYFORMULA(
      FILTER(

[2021-03-22 17:51] tgifford-webfirst commented on #11
This is exactly what I was thinking as well. I may be able to get some time to do this, but I'm starting out with the row-per-field solution from @greggmarshall for now.

[2021-03-22 20:50] tgifford-webfirst commented on #46
Another alternative would be to generate the config files, e.g.

- {entity_type}.type.{bundle}.yml
- core.entity_form_display.{entity_type}.{bundle}.default.yml
- core.entity_view_display.{entity_type}.{bundle}.default.yml
- core.entity_view_display.{entity_type}.{bundle}.teaser.yml
- field.field.{entity_type}.{bundle}.{field_name}.yml
- (optional) core.base_field_override.{entity_type}.{bundle}.s

[2021-04-01 12:44] TravisCarden commented on #11
@NickDickinsonWilde do you have any input on this issue considering the impact any changes might have on https://github.com/NickDickinsonWilde/drupal-spec-tool-commands?

[2021-04-22 19:21] lems3 opened #52 "Skip unexpected elements"
Hi,

We'd like to use the Acquia Spec tool to help us validate that a set of common configuration across multiple of our sites (in our multisites setup) follows our best practice guideline, OR are aligned with what should be expected from those sites so our custom themes works properly.

But, we also want to keep some flexibility on each site so they can have some elements specific to them, usuall

[2021-04-27 13:01] TravisCarden commented on #52
Hi, @lems3! If I understand correctly, you basically want the ability to test for a common _baseline_ of configuration so that tests fail if that baseline is different but pass if there are just additional items added to it.

First of all, you are correct: the Drupal Spec Tool currently provides no out-of-the-box ability to achieve what you're asking for. However, it can be done--without having to

[2021-04-27 14:23] lems3 commented on #52
Hi @TravisCarden,

Exactly!

With the research that we have done up to now, we think that the best approach would be to create a separate module that either extend the current Spec Tool or duplicate code in it. This way, it would be easier to eventually move this feature in the Spec Tool if it's something that would feel like a good element to add to it.

But before going too far in this, we wante

[2021-05-19 20:58] philippemouchel opened #53 "Handle other entity types"
Hi there.

I'm currently using this drupal-spec-tool on a Drupal Commerce site (D9 and DC2), and I had to edit ContentModelContext file to get Behat to acknowledge Drupal Commerce entities.
Here is the patch.

[code]

Any elegant way to do that ?
How about custom entities ?

[2021-05-20 14:39] TravisCarden commented on #53
Hi, @philippemouchel. Definitely!

Simply subclass `ContentModelContext` and override `getContentEntityTypes()` with your customizations. Then update your Behat configuration to use your context instead of the Spec Tool's, e.g.:

[code]

As to custom entity types, as long as they implement `\Drupal\Core\Entity\ContentEntityInterface` you should be fine to add basic support for them in the same pla

[2021-05-20 14:55] TravisCarden commented on #52
By the way, @lems3, I just added a little documentation on how to cleanly supplement or override out-of-the-box behavior that may help you: https://github.com/acquia/drupal-spec-tool#customization

[2021-11-22 16:56] greggmarshall opened #58 "Add a Drupal 9 Google Sheet based on Acquia CMS"
The current Drupal 9 Google Sheet has data based on the Acquia Lightning profile, which is end of life.

Since Lightning has been more/less replaced by Acquia CMS, it would be very useful to Acquia CMS users to have the Google Sheet default to entities, fields, workflows, etc defined by Acquia CMS.  That would make it easier to integrate Drupal Spec Tool into projects using Acquia CMS as their sta

[2021-11-22 20:13] TravisCarden commented on #58
Quite so, @greggmarshall! Thank you. We'll work on this as soon as we can. 👍

[2021-12-07 16:59] FelipeJust commented on #47
Hi everyone, there are some news about this? I think it's a great idea to help the community

[2022-02-24 16:54] mgreco-n commented on #53
Hello!
In my content_model.feature file I have the following line:
| Article (Content type) | Image | field_image | Entity reference | Required | 1 | Entity browser | | |

In the system I have implemented the field in question.

Running the test I get the following error message:
--- Missing fields (present in specification, absent from Drupal)
      | Article (Content type) | Image | field_image

[2022-02-28 15:52] TravisCarden commented on #53
@mgreco-n can you post a complete diff of the changes you made that you describe above?

[2022-04-21 10:41] Peppe87 opened #60 "Type error trying to test media.feature"
Hi,

I'm on a  9.3.x site, with php 8.1.

If I try to test media.feature, I got the following error

While the _Image effects_ scenario is run.

[2022-04-22 07:55] Peppe87 commented on #60
Hi, thanks for the quick reply and  for the welcoming.

I tried with a clean D9 install and that feature works, so it must be some patch\contrib module on my project that causes that bug :(

I hope I'll have time in the nearby future to try to determine which is, in case I'll update you.

[2022-04-22 21:26] TravisCarden commented on #60
You're welcome. I hope you figure it out!

[2022-04-22 21:26] #60 closed

[2022-05-09 19:43] TravisCarden commented on #53
@Peppe87 are you trying to add support for user _roles_? That would be `user_role`, and there's another issue to (finish) adding support for them: https://github.com/acquia/drupal-spec-tool/issues/20.

[2022-05-09 20:56] Peppe87 commented on #53
No, just to check for fields on user entity.

[2022-05-10 17:53] TravisCarden commented on #53
Oh... Now that you mention it, I remember looking at that ages ago, and as I recall user entities have a different API from other kinds. Why don't you create an issue for adding support for them and link to it here?

[2022-06-15 19:08] #58 closed

[2022-06-16 13:08] TravisCarden commented on #58
Sorry for the long wait, @greggmarshall! The Google Sheet and the default feature files have been updated and released. Enjoy. 🙂

[2022-06-16 13:20] greggmarshall commented on #58
Thanks, much appreciated.

[2022-07-06 13:53] #53 closed

[2022-10-10 13:00] vyasamit2007 commented on #46
We have come up with a new tool **Drupal Entity Generator (DEG)**. This is a tool to build Drupal entities using the architecture defined in the Google spreadsheet. We recommend using a [Drupal Spec Tool](https://github.com/acquia/drupal-spec-tool) for creating the Google spreadsheet to define the content architecture for your Drupal site.

[2022-10-10 17:17] tgifford-webfirst commented on #46
Link? https://github.com/acquia-pso/dst-entity-generate

[2022-11-03 15:04] mikemadison13 opened #63 "Add Drupal 10 Compatibility"
The current composer versioning does not allow Drupal 10. We need to correct this so that acquia/drupal-recommended-project is fully d10 compatible.

[2022-11-03 15:05] mikemadison13 commented on #63
[code]

[2022-11-03 15:06] mikemadison13 commented on #63
This is blocked until either https://github.com/jhedstrom/drupalextension/pull/620 or https://github.com/jhedstrom/drupalextension/pull/615 get merged.